h1 {
	text-align: center;
}
img {
	display: block;
	margin: 0 auto;
}
.section-title {
  font-size: 28px;
  color: blue;
  text-decoration: underline;
}
#about {
  border: 1px solid black;
  background-color: lightgray;
  padding: 10px;
  margin: 10px;
}
a:hover {
  color: black;
}